.navbar-default .navbar-nav .li .a {
      color: black;
    }


    .ant-carousel .slick-slide {
      text-align: center;

      background: #364d79;
      overflow: hidden;
    }

    .ant-carousel .slick-slide  {
      color: #fff;
      font: 24px;
    }

    .ant-carousel .slick-dots {
    position: absolute;
    bottom: 12px;
    list-style: none;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 200%;
    height: 3px;
}
